src/main/resources/adsmenadresit.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xrd="http://x-road.eu/xsd/xroad.xsd" xmlns:tns="http://www.maaamet.ee" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.maaamet.ee">
    <wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ads="http://www.maaamet.ee" targetNamespace="http://www.maaamet.ee" xmlns:xrd="http://x-road.eu/xsd/xroad.xsd">
  <import namespace="http://x-road.eu/xsd/xroad.xsd" schemaLocation="http://x-road.eu/xsd/xroad.xsd"/>
  <include schemaLocation="http://www.maaamet.ee/schemas/xtee6/ads_types.xsd"/>

  <element name="ADSmenadresit" type="ads:ADSmenadresitParingType">
    <annotation>
      <appinfo>
        <xrd:title>Menetlusobjekti aadresside esitamise teenus</xrd:title>
      </appinfo>
    </annotation>
  </element>
  <element name="ADSmenadresitResponse" type="ads:ADSmenadresitVastusType"/>
  <complexType name="ADSmenadresitParingType">
    <annotation>
      <appinfo>
        <xrd:title>Menetlusobjekti aadresside esitamise teenus</xrd:title>
      </appinfo>
    </annotation>
    <sequence>
      <element name="esitajaKood" minOccurs="0" type="ads:esitajakoodType">
        <annotation>
          <appinfo>
            <xrd:title>Esitaja kood</xrd:title>
            <xrd:notes>
              Registrit pidava organisatsiooni registrikood.
              Organisatsioon peab
              olema Maa-ameti admin süsteemis eelnevalt
              registreeritud.
              Organisatsioonist saab X-tee kaudu loodava
              menetluse
              menetleja.
            </xrd:notes>
          </appinfo>
        </annotation>
      </element>
      <element name="menetlejaNimi" minOccurs="0" type="ads:menetlejanimiType">
        <annotation>
          <appinfo>
            <xrd:title>Menetleja nimi</xrd:title>
            <xrd:notes>
              Andmeid menetleva kasutaja täisnimi või isikukood.
            </xrd:notes>
          </appinfo>
        </annotation>
      </element>
      <element name="ainultKontroll" type="boolean" default="false">
        <annotation>
          <appinfo>
            <xrd:title>
              Menetlust ei jõustata, vaid kustutatakse menetlus
              pärast kontrollide
              teostamist
            </xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="menetlusNr" minOccurs="0" type="integer">
        <annotation>
          <appinfo>
            <xrd:title>Menetluse number</xrd:title>
            <xrd:notes>
              Eeldatakse olemasoleva menetluse staatuse päringut.
              Objekti andmeid pole
              vaja esitada. Teenus tagastab viidatud
              menetluse andmestiku.
            </xrd:notes>
          </appinfo>
        </annotation>
      </element>
      <element name="ruumiAndmeteFormaat" type="ads:kujuGeomeetriaFormaatType" minOccurs="0" default="WKT">
        <annotation>
          <appinfo>
            <xrd:title>
              Millises formaadis tagastada objekti kuju geomeetria
            </xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="objektid" minOccurs="0">
        <complexType>
          <sequence>
            <element name="menobjekt" minOccurs="0" maxOccurs="unbounded">
              <complexType>
                <sequence>
                  <element name="objektiLiik" minOccurs="1" type="ads:adsobjliikKlassifikaator">
                    <annotation>
                      <appinfo>
                        <xrd:title>Objekti liik</xrd:title>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="adsOid" minOccurs="0" type="string">
                    <annotation>
                      <appinfo>
                        <xrd:title>Objekti tunnus ADS süsteemis</xrd:title>
                        <xrd:notes>
                          Täidetakse, kui on tegemist objekti
                          muudatusega ja ADS_OID on
                          päritoluregistril teada.
                        </xrd:notes>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="origTunnus" minOccurs="1" type="string">
                    <annotation>
                      <appinfo>
                        <xrd:title>Objekti tunnus päritoluregistris</xrd:title>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="oiguslikAlus" type="ads:oiguslikalusType" minOccurs="0">
                    <annotation>
                      <appinfo>
                        <xrd:title>
                          Objekti versiooni tekkimise või tühistamise
                          õiguslik alus
                        </xrd:title>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="aluseKuupaev" type="date" minOccurs="0">
                    <annotation>
                      <appinfo>
                        <xrd:title>Õigusliku aluse kuupäev</xrd:title>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="olek" type="ads:adsMenOlekType" minOccurs="1">
                    <annotation>
                      <appinfo>
                        <xrd:title>Olek</xrd:title>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="tahis" type="ads:tahisType" minOccurs="0">
                    <annotation>
                      <appinfo>
                        <xrd:title>
                          Hoone osa korral tähis, hoone korral
                          üldnimetus
                        </xrd:title>
                        <xrd:notes>Kohustuslik hoone osa korral.</xrd:notes>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="korrus" type="integer" minOccurs="0">
                    <annotation>
                      <appinfo>
                        <xrd:title>
                          Hoone osa korral sissepääsu korrus
                        </xrd:title>
                        <xrd:notes>Kohustuslik hoone osa korral.</xrd:notes>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="ruumiKuju" type="string" minOccurs="0">
                    <annotation>
                      <appinfo>
                        <xrd:title>Objekti ruumikuju</xrd:title>
                        <xrd:notes>Objekti ruumikuju stringi kujul (escaped) GML 3.1.1 formaadis. Kohustuslik vähemalt punktina.</xrd:notes>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="kujuMoodustusviis" type="ads:adsObjmviisType" minOccurs="0">
                    <annotation>
                      <appinfo>
                        <xrd:title>Kuju moodustusviis</xrd:title>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="hooneAdsOid" type="string" minOccurs="0">
                    <annotation>
                      <appinfo>
                        <xrd:title>Viide hoone ADS_OID väärtusele</xrd:title>
                        <xrd:notes>
                          Täidetakse, kui on tegemist objekti
                          muudatusega ja ADS_OID on
                          päritoluregistril teada.
                        </xrd:notes>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="hooneOrigTunnus" minOccurs="0" type="string">
                    <annotation>
                      <appinfo>
                        <xrd:title>
                          Viide hoone tunnusele, mille osaga on
                          tegemist
                        </xrd:title>
                        <xrd:notes>
                          Ainult hoone osa korral kohustuslik atribuut.
                        </xrd:notes>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="aadressid" minOccurs="0">
                    <complexType>
                      <sequence>
                        <element name="aadress" minOccurs="0" maxOccurs="unbounded">
                          <complexType>
                            <sequence>
                              <element name="adsTase1" type="ads:adsTaseSimpleType" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>Tase 1</xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="adsTase2" type="ads:adsTaseSimpleType" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>Tase 2</xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="adsTase3" type="ads:adsTaseSimpleType" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>Tase 3</xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="adsTase4" type="ads:adsTaseType" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>Tase 4</xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="adsTase5" type="ads:adsTaseType" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>Tase 5</xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="adsTase6" type="ads:adsTaseType" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>Tase 6</xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="adsTase7" type="ads:adsTaseType" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>Tase 7</xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="adsTase8" type="ads:adsTaseType" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>Tase 8</xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="punktX" type="ads:koordxType" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>
                                      Aadressipunkti x-koordinaat L-Est
                                      süsteemis
                                    </xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="punktY" type="ads:koordyType" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>
                                      Aadressipunkti y-koordinaat L-Est
                                      süsteemis
                                    </xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                            </sequence>
                          </complexType>
                        </element>
                      </sequence>
                    </complexType>
                  </element>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="ADSmenadresitVastusType">
    <sequence minOccurs="0" maxOccurs="unbounded">
      <element name="tulem" minOccurs="1" type="string">
        <annotation>
          <appinfo>
            <xrd:title>Tulem</xrd:title>
            <xrd:notes>1 - õnnestumise korral ; 0 vea korral</xrd:notes>
          </appinfo>
        </annotation>
      </element>
      <element name="teade" minOccurs="0" type="string">
        <annotation>
          <appinfo>
            <xrd:title>Teade</xrd:title>
            <xrd:notes>
              Teenuse tekstiline teade. Positiivse vastuse korral
              lisainfo,
              negatiivse vastuse korral veateade.
            </xrd:notes>
          </appinfo>
        </annotation>
      </element>
      <element name="menetlusNr" minOccurs="0" type="integer">
        <annotation>
          <appinfo>
            <xrd:title>Loodud menetluse number</xrd:title>
          </appinfo>
        </annotation>
      </element>
      <element name="joustatud" type="dateTime" minOccurs="0">
        <annotation>
          <appinfo>
            <xrd:title>Menetluse jõustamise aeg</xrd:title>
            <xrd:notes>
              Kui puudub, siis pole menetluse jõustamine
              õnnestunud.
            </xrd:notes>
          </appinfo>
        </annotation>
      </element>
      <element name="objektid" minOccurs="0">
        <complexType>
          <sequence>
            <element name="menobjekt" minOccurs="0" maxOccurs="unbounded">
              <complexType>
                <sequence>
                  <element name="adsOid" minOccurs="0" type="string">
                    <annotation>
                      <appinfo>
                        <xrd:title>Objekti ADS süsteemi kood</xrd:title>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="adobId" minOccurs="0" type="string">
                    <annotation>
                      <appinfo>
                        <xrd:title>
                          Objekti versioonitunnus ADS süsteemis
                        </xrd:title>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="objektiLiik" minOccurs="0" type="ads:adsobjliikKlassifikaator">
                    <annotation>
                      <appinfo>
                        <xrd:title>Aadressiobjekti liigi tunnus</xrd:title>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="origTunnus" minOccurs="0" type="string">
                    <annotation>
                      <appinfo>
                        <xrd:title>Objekti tunnus päritoluregistris</xrd:title>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="olek" type="ads:adsMenOlekType" minOccurs="0">
                    <annotation>
                      <appinfo>
                        <xrd:title>Olek</xrd:title>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="taisAadress" minOccurs="0" type="string">
                    <annotation>
                      <appinfo>
                        <xrd:title>
                          Objekti optimeeritud täisaadress, mis
                          sisaldab kõiki
                          paralleelaadresse
                        </xrd:title>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="lahiAadress" minOccurs="0" type="string">
                    <annotation>
                      <appinfo>
                        <xrd:title>
                          Objekti lähiaadress, mis sisaldab kõiki
                          paralleelaadresse
                        </xrd:title>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="oiguslikAlus" type="string" minOccurs="0">
                    <annotation>
                      <appinfo>
                        <xrd:title>
                          Objekti versiooni tekkimise või tühistamise
                          õiguslik alus
                        </xrd:title>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="aluseKuupaev" type="date" minOccurs="0">
                    <annotation>
                      <appinfo>
                        <xrd:title>Õigusliku aluse kuupäev</xrd:title>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="tahis" type="string" minOccurs="0">
                    <annotation>
                      <appinfo>
                        <xrd:title>
                          Hoone osa korral tähis, hoone korral
                          üldnimetus
                        </xrd:title>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="korrus" type="integer" minOccurs="0">
                    <annotation>
                      <appinfo>
                        <xrd:title>
                          Hoone osa korral sissepääsu korrus
                        </xrd:title>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="hooneAdsOid" type="string" minOccurs="0">
                    <annotation>
                      <appinfo>
                        <xrd:title>Viide hoone ADS_OID väärtusele</xrd:title>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="ruumiKuju" type="string" minOccurs="0">
                    <annotation>
                      <appinfo>
                        <xrd:title>Objekti ruumikuju</xrd:title>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="kujuMoodustusviis" type="ads:adsObjmviisType" minOccurs="0">
                    <annotation>
                      <appinfo>
                        <xrd:title>Kuju moodustusviis</xrd:title>
                      </appinfo>
                    </annotation>
                  </element>
                  <element name="aadressid" minOccurs="0">
                    <complexType>
                      <sequence>
                        <element name="aadress" minOccurs="0" maxOccurs="unbounded">
                          <complexType>
                            <sequence>
                              <element name="adrId" type="integer" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>Aadressi unikaalne võti</xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="koodAadress" type="string" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>Koodaadress</xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="taisAadress" type="string" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>
                                      Normaliseeritud aadresstekst
                                    </xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="lahiAadress" type="string" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>
                                      Normaliseeritud lähiaadress
                                    </xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="punktX" type="double" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>
                                      Aadressipunkti x-koordinaat
                                    </xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="punktY" type="double" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>
                                      Aadressipunkti y-koordinaat
                                    </xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="adsTase1" type="ads:adsTaseType" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>Tase 1</xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="adsTase2" type="ads:adsTaseType" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>Tase 2</xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="adsTase3" type="ads:adsTaseType" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>Tase 3</xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="adsTase4" type="ads:adsTaseType" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>Tase 4</xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="adsTase5" type="ads:adsTaseType" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>Tase 5</xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="adsTase6" type="ads:adsTaseType" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>Tase 6</xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="adsTase7" type="ads:adsTaseType" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>Tase 7</xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="adsTase8" type="ads:adsTaseType" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>Tase 8</xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                            </sequence>
                          </complexType>
                        </element>
                      </sequence>
                    </complexType>
                  </element>
                  <element name="menProbleemid" minOccurs="0">
                    <annotation>
                      <appinfo>
                        <xrd:title>
                          Objekti probleemid, mis takistavad jõustamist
                        </xrd:title>
                      </appinfo>
                    </annotation>
                    <complexType>
                      <sequence>
                        <element name="menProbleem" minOccurs="0" maxOccurs="unbounded">
                          <complexType>
                            <sequence>
                              <element name="aadress" type="string" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>
                                      See täisaadress, millega on probleeme
                                    </xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="veaKood" type="integer" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>Vea kood klassifikaatoris</xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="veaTekst" type="string" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>
                                      Probleemi tekstiline kirjeldus
                                    </xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                              <element name="markus" type="string" minOccurs="0">
                                <annotation>
                                  <appinfo>
                                    <xrd:title>
                                      Probleemile erimenetleja poolt lisatud
                                      selgitus
                                    </xrd:title>
                                  </appinfo>
                                </annotation>
                              </element>
                            </sequence>
                          </complexType>
                        </element>
                      </sequence>
                    </complexType>
                  </element>
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <simpleType name="esitajakoodType">
    <restriction base="string">
      <minLength value="1"/>
      <maxLength value="10"/>
    </restriction>
  </simpleType>
  <simpleType name="menetlejanimiType">
    <restriction base="string">
      <minLength value="1"/>
      <maxLength value="60"/>
    </restriction>
  </simpleType>
  <simpleType name="oiguslikalusType">
    <restriction base="string">
      <minLength value="1"/>
      <maxLength value="500"/>
    </restriction>
  </simpleType>
  <simpleType name="tahisType">
    <restriction base="string">
      <minLength value="1"/>
      <maxLength value="200"/>
    </restriction>
  </simpleType>
  <simpleType name="koordxType">
    <restriction base="double">
      <minInclusive value="6300000"/>
      <maxInclusive value="6700000"/>
    </restriction>
  </simpleType>
  <simpleType name="koordyType">
    <restriction base="double">
      <minInclusive value="300000"/>
      <maxInclusive value="800000"/>
    </restriction>
  </simpleType>
</schema>
</wsdl:types>
    <wsdl:message name="requestHeader">
        <wsdl:part name="client" element="xrd:client"/>
        <wsdl:part name="service" element="xrd:service"/>
        <wsdl:part name="id" element="xrd:id"/>
        <wsdl:part name="userId" element="xrd:userId"/>
        <wsdl:part name="issue" element="xrd:issue"/>
        <wsdl:part name="protocolVersion" element="xrd:protocolVersion"/>
    </wsdl:message>
    <wsdl:message name="ADSmenadresit">
        <wsdl:part name="body" element="tns:ADSmenadresit"/>
    </wsdl:message>
    <wsdl:message name="ADSmenadresitResponse">
        <wsdl:part name="body" element="tns:ADSmenadresitResponse"/>
    </wsdl:message>
    <wsdl:portType name="servicePortType">
        <wsdl:operation name="ADSmenadresit">
          <wsdl:documentation>
            <xrd:title xml:lang="et">Menetlusobjekti aadresside esitamise teenus</xrd:title>
          </wsdl:documentation>
          <wsdl:input message="tns:ADSmenadresit"/>
            <wsdl:output message="tns:ADSmenadresitResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="serviceBinding" type="tns:servicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ADSmenadresit">
            <soap:operation soapAction="" style="document"/>
            <xrd:version>v1</xrd:version>
            <wsdl:input>
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader" part="client" use="literal"/>
                <soap:header message="tns:requestHeader" part="service" use="literal"/>
                <soap:header message="tns:requestHeader" part="id" use="literal"/>
                <soap:header message="tns:requestHeader" part="userId" use="literal"/>
                <soap:header message="tns:requestHeader" part="issue" use="literal"/>
                <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
                <soap:header message="tns:requestHeader" part="client" use="literal"/>
                <soap:header message="tns:requestHeader" part="service" use="literal"/>
                <soap:header message="tns:requestHeader" part="id" use="literal"/>
                <soap:header message="tns:requestHeader" part="userId" use="literal"/>
                <soap:header message="tns:requestHeader" part="issue" use="literal"/>
                <soap:header message="tns:requestHeader" part="protocolVersion" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="xroadeuService">
        <wsdl:port binding="tns:serviceBinding" name="xroadeuServicePort">
            <soap:address location="http://example.org/xroad-endpoint"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>